<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de tarea</h1>
        <form method="POST">
            <div class="form-group">
                {% for task in tasks %}
                <p>{{ task }}</p>
                <p>Título: {{ task[1] }}</p>
                <p>Descripción: {{ task[2] }}</p>
                <p>Fecha: {{ task[3] }}</p>
                <p>Completado: {{ task[4] }}</p>
                <p>ID Usuario:{{ task[5] }}</p>
                {% endfor %}
            </div>
        </form>
</body>
</html>