<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task ID Selector</title>
</head>

<body>
    <h1>Select Task ID</h1>

    <label for="taskID">Select Task ID:</label>
    <select id="taskID">
    </select>

    <button onclick="getTaskDetails('taskID')">Get Task Details</button>

    <script>
        function loadTaskIDs() {
            fetch('/task_ids')
                .then(response => response.json())
                .then(taskIDs => {
                    var selectElement = document.getElementById('taskID');
                    selectElement.innerHTML = ''; 
                    taskIDs.forEach(taskID => {
                        var option = document.createElement('option');
                        option.value = taskID;
                        option.textContent = taskID;
                        selectElement.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        loadTaskIDs();

        function getTaskDetails(taskId) {
            var selectedTaskID = document.getElementById('taskID').value;

            window.location.href = '/tasks_details/' + selectedTaskID;
        }

    </script>
</body>

</html>